---
title: Categories
layout: default
---

{% include header.html %}

<div class="g-banner tags-banner {{ site.postPatterns | prepend: 'post-pattern-' }} {{ site.theme-color | prepend: 'bgcolor-' }}" data-theme="{{ site.theme-color }}">
    <h2>CATEGORIES</h2>
</div>

<main class="tags-content">

    <ul class="tags-list">
        </li>
        {% for category in site.categories %}
        <li>
            <span class="tag-name" id="{{ category[0] }}">「{{ category[0] }}」</span>
            {% for post in category[1] %}
            <a class="tag-post" href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
            {% endfor %}
        </li>
        
        </div>
        {% endfor%}
    </ul>
</main>
    
{% include footer.html %}
