<!DOCTYPE html>
<html>
{% include head.html %}
<body>
    <!--[if lt IE 10]>
<div class="alert-danger" role="alert">你的瀏覽器太舊囉~<a target="_blank" class="alert-link" href="http://browsehappy.com">立即升級</a></div>
<![endif]-->
    <input id="nm-switch" type="hidden" value="{{ site.nightMode }}">
    {{ content }}
    <script src="https://use.fontawesome.com/0e71d68445.js"></script>
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{ "assets/js/prism.js" | absolute_url }}"></script>
    <script src="{{ "assets/js/index.min.js" | absolute_url }}"></script>
</body>
</html>
